@import "tailwindcss";
@import "@fontsource/roboto/400";

@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
  --animate-scan: scan 2s linear infinite;

  @keyframes scan {
    0%,
    10% {
      top: -100%;
    }

    90%,
    100% {
      top: 100%;
    }
  }
}

body {
  @apply relative bg-neutral-900 text-neutral-200 min-h-dvh;
}
